<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=DESKTOP-S2NO2GI;Initial Catalog=Drive;Integrated Security=True;"
      providerName="System.Data.SQlclient" />
    <add name="BD.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-S2NO2GI;Initial Catalog=Drive;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>